* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Merriweather';
}

:root {
    background-color: #87CEEB; 
    height: 100vh;
    width: 100vw; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

a {
    color: inherit;
}

.container,
.navbar,  
.currentWeather,
.currentTemp, 
.mainStats,
.otherStats,
.currentHighlights,  
.topHalf, 
.botHalf, 
.currentGeo, 
.currentTempInfo,
.climate, 
.climate-icons, 
.climate-stats, 
.dailyContainer, 
.dailyForecast,
.hourlyForecast,
.forecastContainer, 
.forecastWeather, 
.forecastDay,  
.forecastIcon {
    display: flex; 
}

.container {
    background-color: white; 
    height: 85vh; 
    width: 80vw; 
    padding: 25px; 
    border-radius: 25px; 
    justify-content: space-evenly;
}

.navbar, 
.currentWeather,
.mainStats,
.otherStats, 
.currentHighlights, 
.currentGeo, 
.climate,
.dailyContainer, 
.hourlyForecast, 
.forecastContainer, 
.forecastWeather {
    flex-direction: column;
}

.navbar {
    background-color: #EEEEEE;
    height: 100%; 
    width: 5%; 
    border-radius: 25px;
    padding: 15px;
    align-items: center;
}

.weatherMenu {
    font-size: 2rem;
    margin-bottom: 50px;  
}

.weatherMenu:hover {
    opacity: 0.7; 
    transition: 0.2;
    cursor: pointer; 
}

.weatherMenu:active {
    opacity: 0.5; 
    transition: 0.25; 
    cursor: pointer; 
}

.currentWeather {
    width: 60%; 
    justify-content: space-between;
}

.currentTemp {
    height: 58%; 
    width: 100%;
}

.inputWrapper {
    height: 10%; 
    width: 75%; 
    margin-bottom: 5%; 
}

.addLocation {
    background-color: #EEEEEE; 
    height: 100%; 
    width: 100%; 
    border: hidden; 
    border-radius: 15px;
    padding: 10px; 
}

.addLocation:hover {
    opacity: 0.7; 
    transition: 0.5; 
}

.addLocation:focus {
    outline: none; 
    opacity: 0.5; 
    transition: 0.5; 
}

.mainStats {
    height: 100%;
    width: 50%;  
}

.otherStats {
    background-color: #EEEEEE;
    height: 100%; 
    width: 50%; 
    border-radius: 25px;
    padding: 20px; 
}

.otherStats h4 {
    height: 20%; 
}

.currentHighlights {
    font-size: 1.5rem; 
    height: 80%; 
    width: 100%; 
}

.topHalf {
    height: 50%; 
    width: 100%;
    justify-content: space-around; 
}

.botHalf {
    height: 50%; 
    width: 100%; 
    justify-content: space-around; 
}

.currentTempInfo {
    height: 40%; 
    width: 100%; 
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%; 
}

.weather-icon {
    font-size: 6rem; 
}

.tempNum h1 {
    font-size: 4rem; 
}

.tempNum h6 {
    font-size: 1rem; 
}

.climate {
    height: 30%; 
    width: 100%; 
    justify-content: space-evenly;
}

.climate-icons {
    width: 100%; 
    justify-content: space-evenly;
    align-items: center;
}

.climate-stats {
    width: 100%; 
    justify-content: space-evenly;
    align-items: center;
}

.climate-icon {
    font-size: 1.5rem; 
}

.windSpeed, 
.rainVolume, 
.humidity, 
.cloudiness {
    font-size: 1rem; 
}

.dailyContainer {
    background-color: #EEEEEE;
    height: 40%; 
    border-radius: 25px; 
    padding: 30px; 
}

.dailyContainer h4 {
    height: 25%; 
}

.dailyForecast {
    height: 75%; 
    width: 100%; 
    justify-content: space-evenly;
    align-items: center;
}

.hourlyForecast {
    height: 80%; 
    justify-content: space-evenly;
    align-items: center;
}

.hourlyForecast:hover {
    opacity: 0.5; 
    transition: 0.25; 
    cursor: pointer; 
}

.hourlyForecast i {
    font-size: 2rem; 
}

.forecastContainer {
    background-color: #EEEEEE;
    height: 100%; 
    width: 30%;
    border-radius: 25px;
    padding: 3%;
}

.forecastContainer h2 {
    height: 15%; 
}

.forecastWeather {
    height: 85%; 
    width: 100%; 
    justify-content: space-between; 
}

.forecastWeather i {
    font-size: 1.75rem; 
    position: absolute; 
    right: 23%; 
}

.forecastDay {
    height: 10%;
    justify-content: start; 
}

.forecastDay:hover {
    opacity: 0.75; 
    transition: 0.15; 
    cursor: pointer; 
}

.forecastDay:active {
    opacity: 0.5; 
    transition: 0.15; 
    cursor: pointer; 
}

.forecastTemp {
    position: absolute; 
    right: 15%; 
}

@media (max-width: 1280px) {
    .weatherMenu {
        font-size: 1.25rem; 
    }

    .inputWrapper {
        height: 15%;  
    }

    .currentGeo {
        font-size: 0.75rem; 
    }

    .currentHighlights {
        font-size: 1rem; 
    }

    .weather-icon {
        font-size: 4rem; 
    }
    
    .tempNum h1 {
        font-size: 2.5rem; 
    }
    
    .tempNum h6 {
        font-size: 0.75rem; 
    }

    
    .climate-icon {
        font-size: 1rem; 
    }

    .windSpeed, 
    .rainVolume, 
    .humidity, 
    .cloudiness {
        font-size: 0.5rem; 
    }

    .forecastContainer h2 {
        font-size: 1.25rem; 
    }
    
    .hourlyForecast h4 {
        font-size: 0.75rem; 
    }

    .hourlyForecast i {
        font-size: 1.5rem; 
    }

}